<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password:</label>
                <br>
                <input type="password" id="password" name="password">
                <br>
                <br>
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
</body>
