<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<body>
    <main>
        <div>
                <h1>Signup</h1>
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <br>
                <label for="password_confirmation">Password confirmation:</label>
                <input type="password" id="password_confirmation" name="password_confirmation">
                <br>
                <br>
                <button type="submit">Signup</button>

                {% csrf_token %}

            </form>
        </div>
    </main>
</body>
